<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/admin/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>	
	<section>
	   <div class="flex-center m-5">
	     <h1 class="text-white text-center">Admin Home Page</h1>
	   </div>
	<div class="row">

        <div class="col-sm-6 col-md-4">
            <div class="card border-white">
                <div class="card-header bg-dark">Rajdhani</div>
                    <div class="card-body">
                        <p class="card-text bg-success">Connecting some of the major cities of India with the capital city of New Delhi, this is the highest priority Indian Railways. Just knowing the train schedule between two stations is not enough.you will get a list of all the trains that start from that ...</p>
                    </div>
                </div>
            <!--</div>-->
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card border-white">
                <div class="card-header bg-dark">Dutron</div>
                    <div class="card-body">
                        <p class="card-text bg-success">Connecting some of the major cities of India with the capital city of New Delhi, this is the highest priority Indian Railways. Just knowing the train schedule between two stations is not enough.you will get a list of all the trains that start from that ...</p>
         </div>
                </div>
            </div>
            <!--</div>-->

	      <div class="col-sm-6 col-md-4" >
            <div class="card border-white">
                <div class="card-header bg-dark">Intercity</div>
                    <div class="card-body">
                        <p class="card-text bg-success">These trains run between two major cities and complete a round trip within a day. It only has chair cars and second sitters. Train Name, Starting Point and Destination. This is surely a simpler way to find a all the trains that start from train than asking for ...</p>
         </div>
                </div>
            </div>
            <!--</div>-->

	     
	</section>	
</body>
</html>