<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="/admin/base_sidebar::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>

<body class="train master">
</body>
<section>
	<div class="container pt-4">
		<div class="card col-11" style="left: 136px">
			<div class="card">
				<div class="card-body text-dark fw-bold"
					style="background-color: #cbd7e2;">
					<h4 class="text-center text-danger">Update No Of Stops</h4>

					<form th:action="@{/admin/saveupdatenoofstop}" method="post" th:object="${noOfStops}">
                           <input type ="hidden" name="id" th:field="${noOfStops.id}"/>

					
						<div class="row pt-4" style="margin-left: 290px;">
							<div class="col-auto">
								<label for="noOfStops" class="col-form-label">No Of
									Stops</label>
							</div>
							
							<div class="col-4">
										<input type="text" id="noOfStops" class="form-control"
											name="noOfStops" th:value="${noOfStops.noOfStops}">
									</div>
						</div>
						<div class="text-center pt-4 pb-4">
							<button type="submit" class="btn btn-primary">Submit</button>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>