<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>	
<section>
<div class="container">
    <h2 class="text-warning">Railway Enquiry
</h2>
<p class="text-light"> Helpline.No. 139 (24 Hours Service)
</p>
<p class="text-light">
Write to : info@irctc.com
</p>
<p class="text-light">Internet Ticketing Complaints Write to: care@irctc.co.in
</p>
<p class="text-light">CIN : U74899DL1999GOI101707
</p>
<h4 class="text-dark">North Zone:
</h4>
<p class="text-light">Rail Yatri Niwas Building, New Delhi Railway Station Complex, Ajmeri Gate Side, New Delhi - 110002
</p>
<p class="text-light">Zonal Office Tel.No.: - 011-23234763, 23221146 , Fax: - 011-23210321
</p>
<p class="text-light">North Zone Control Tele No. / Fax No.: 011-23221147 Mobile:09717648888
</p>
<p class="text-light">Email Id: ggmnz@irctc.com, ggmdelhi@irctc.com
</p>
<h4 class="text-danger">Rail Neer Plant Nangloi:
</h4>
<p class="text-light">Rail Neer Plant, Northan Railways Wireless Station Area, Opposite Nangloi Bus Depot, Nangloi -110041
</p>
<p class="text-light">Tel.No. 011-65152575,25949774 Fax No. 011-25949773

</p>
<h4 class="text-danger">Lucknow RO:
</h4>
<p class="text-light">Paryatan Bhawan, 2nd Floor, C-13, Vipin Khand, Gomti Nagar, Lucknow -226010
</p>
<p class="text-light">Tel.No. 0522-2305522 Fax No. 0522-2305533
</p>
<h4 class="text-danger">Jaipur RO:

</h4>
<p class="text-light">708, 7th Floor, Crystal Mall , Sawai Jai Singh Highway,Banipark, Jaipur- 302016
</p>
<p class="text-light">Tel.No. 0141-4020194, 4020198, Fax No. 0141-4020193
</p>
<h4 class="text-danger">Chandigarh RO:
</h4>
<p class="text-light">SCO-80-81-8, Sector -34A, Chandigarh -160034
</p>
<p class="text-light">Tel.No. 0172-4645795, 6572156 ,Fax No. 0172-4645795
</p>
</div>
</section>
</body>
</html>